html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 !important;
    background-color: #f0f0f0 !important;
}


#header-wrap {
    background-color: #ea2223;
    padding: 5px;
}

#title-img {
    display: block;
    margin-left: 47%;
    margin-right: auto;
}

#nav {
    background: #222224;
    max-height: 60px;
    grid-column: 1/ 3;
    grid-row: 1/ 2;
    padding: 10px;
    padding-left: 50px;
}

#selector-label {
    font-weight: bold;
    font-size: 16pt;
    margin-right: 20px;
    color: white;
}

select {
    width: auto;
    display: inline-block;
    border: .5px solid black;
    border-radius: 3px;
    padding: 5px;
    padding-right: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
}

/* [class^="item-"] {
    border: 2px solid #eb6123;
} */

.item-title {
    grid-column: 1/ 3;
    grid-row: 2/3;
}

.item-table {
    grid-column: 2/3;
    grid-row: 3 / spans 12;
}
 
.item-infocard {
    grid-column: 1/2;
    grid-row: 3/6;
}
 
.item-scatterplot {
    grid-column: 1/1;
    grid-row: 6/10;
    text-align: center;
}
 
.item-stats {
    grid-column: 1/1;
    grid-row: 10/14;
}


img[class$="-badge"] {
    width: 60px;
    height: 15px;
}

.grass-type {
    background-color: #7cc251;
    fill: #7cc251
}

.rock-type {
    background-color: #b7a036;
    fill: #b7a036;
}

.ice-type {
    background-color: #98d7d6;
    fill: #98d7d6;
}

.dragon-type {
    background-color: #6457a5;
    fill: #6457a5;
}

.dark-type {
    background-color: #6c537a;
    fill: #6c537a;
}

.psychic-type {
    background-color: #f05888;
    fill: #f05888;
}

.bug-type {
    background-color: #a8b939;
    fill: #a8b939;
}

.flying-type {
    background-color: #9f8fc4;
    fill: #9f8fc4;
}

.steel-type {
    background-color: #b8b8cf;
    fill: #b8b8cf;
}

.fire-type {
    background-color: #ef802e;
    fill: #ef802e;
}

.fighting-type {
    background-color: #c03228;
    fill: #c03228;
}

.ground-type {
    background-color: #e0c067;
    fill: #e0c067;
}

.ghost-type {
    background-color: #705999;
    fill: #705999;
}

.poison-type {
    background-color: #d874d3;
    fill: #d874d3;
}

.water-type {
    background-color: #718bc6;
    fill: #718bc6;
}

.fairy-type {
    background-color: #ee99ac;
    fill: #ee99ac;
}

.electric-type {
    background-color: #f8d031;
    fill: #f8d031;
}

.normal-type {
    background-color: #a7a878;
    fill: #a7a878;
}

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 20px;
    min-height: 20px;
    padding: 2px;
    background: black;
    border-radius: 2px;
}

.tooltip h2 {
    margin: auto;
    font: 16px sans-serif;
    color: white;
}