
#table {
    width: 780px;
    table-layout: fixed;
}

#table thead {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 50px;
    font-size: 13pt;
    border-bottom: 3px solid gray;
}

#table tbody {
    display: block;
    overflow: auto;
    height: 800px;
    width: 100%;
}

#table tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: 0.5px solid lightgray;
    font-size: 12pt;
}

#table td {
    padding: 5px 6px;
    vertical-align: middle;
    text-align: center;
    font-size: 10pt;
}

.row:hover,.row.highlight  {
    background: rgb(224, 224, 224);
    cursor: pointer;
}

.sortable:hover {
    background: rgb(207, 207, 207);
    border-radius: 5px;
    cursor: pointer;
}

.sorting {
    background: darkgray;
    color: white;
    border-radius: 5px;
}

/* ----- Filters ----- */
#filters {
    height: 270px;
    width: 750px;
    padding: 10px;
    color: black;
    font-size: 16pt;
    grid-column-gap: 15px;
}

#exp-button {
    font-size: 16pt;
    background-color:#222224;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    text-align: left;
    outline:none;
    display: inline-block;
    border: none;
    border-radius: 25px;
  }

#current-filters {
    display: inline-block;
    width: 500px;
}

#clear-all-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    display: none;
}

.filter-type-button {
    width: 60px;
    height: 20px;
}

.filter-type-button:hover {
    filter: brightness(75%);
    cursor: pointer;
}

.curr-filter {
    width: 80px;
    height: 20px;
    fill: gray;
    opacity: 25%;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
  }

svg[id$="-curr-filter"] {
    width: 80px;
    height: 20px;
    padding: 3px;
    cursor: pointer;
}

#search-bar {
    width: 700px;
    height: 20px;
    font-size: 18px;
    padding: 7px 35px;
    border: none; 
    text-align: left;
}

#search-bar-content {
    margin-top: 10px;
}

#search-bar-content i {
    position: absolute;
}

.icon {
    padding: 7px;
    min-width: 35px;
    color:gray;
}

#type-buttons {
    display: flex;
    width: 230px;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

#stat-sliders1 {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
}

#stat-sliders2 {
    grid-column: 3 / 4;
    grid-row: 2 / 2;
}

#is-legendary-filter {
    padding: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
}

div[id$="-range"] {
    margin: 15px;
    width: 150px;
}

input[id$="-label"] {
    border:none;
    font-size: 12pt;
    width: 100px;
    background-color: #f0f0f0;
    cursor: default;
}

label {
    font-size: 14pt;
    font-weight: bold;
}

/* Borrowed from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 14pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: darkgray;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }