#table {
    width: 900px;
    table-layout: fixed;
    margin: auto;
}

#table thead {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 50px;
    font-size: 14pt;
    font-weight: bold;
    border-bottom: 3px solid gray;
}

#table tbody {
    display: block;
    overflow: auto;
    height: 800px;
    width: 100%;
}

#table tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-bottom: 0.5px solid lightgray;
}

#table td {
    padding: 4px 10px;
    vertical-align: middle;
    text-align: center;
}

.row:hover {
    background: rgb(224, 224, 224);
    cursor: pointer;
}

.sortable:hover {
    background: rgb(207, 207, 207);
    border-radius: 5px;
    cursor: pointer;
}

.sorting {
    background: darkgray;
    color: white;
    border-radius: 5px;
}

/* ----- Filters ----- */
#filters {
    height: 200px;
    width: 900px;
    margin: auto;
    padding: 10px;
    color: black;
    font-size: 16pt;
    border:1pt solid black;
}

#exp-button {
    font-size: 16pt;
    background-color:#222224;
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    text-align: left;
    outline:none;
    display: inline-block;
    border: none;
    border-radius: 25px;
    display: inline-block;
  }

#current-filters {
    display: inline-block;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    display: none;
}

.filter-type-button {
    width: 60px;
    height: 20px;
}

#search-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
}

#type-buttons {
    display: flex;
    width: 230px;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
}

#stat-sliders {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}

