.intro h1 {
    margin: 5px;
}

.intro p {
    width: 50%;
    display: inline-block;
}
.type-line {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

.type-circle {
    stroke: black;
    stroke-width: 1px;
    opacity: 1;
}

.type-label {
    text-transform: capitalize;
    text-anchor: middle;
    font-family: 'Roboto';

}

.blurred-line {
    opacity: .1;
}

.highlight-strong {
    stroke: #ED553B;
    stroke-width: 4px;
    color: #ED553B;
}

.highlight-weak {
    stroke: #20639B;
    stroke-width: 4px;
    color: #20639B;
}

.highlight-no-effect {
    stroke: #F6D55C;
    stroke-width: 4px;
    color: #F6D55C;
}